*.sw[a-z]
ncs-cdb
netsim
logs
state
_tmp_ncs*
README.ncs
README.netsim
packages/alu-sr-netsim-cli-1.0
packages/cisco-ios-netsim-cli-1.0
packages/cisco-iosxr-netsim-cli-1.0
packages/juniper-junos-netsim-nc-1.0
